{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "max-len": 0,
    "linebreak-style": 0
  },
  "extends": "airbnb"
}