.project-detail {
    background-color: @white;
    text-align: center;
}

.project-detail-header {
    background-color: @mainColor;
    text-align: center;
    color: @black;
}

.project-detail-body {
    max-width: 992px;
    margin: 0 auto;
    padding-bottom: 10em;
}

.title {    
    margin: 0;
    padding: .8em 0 0 0;
    font-size: 58px;   
    font-family: sarif;
    color: @black;
}

.project-description-wrapper{
    margin: 0;
    padding: 1em 0;
    font-size: 1.1em;  
}

.section-title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    line-height: 1.6rem;
    color:#8c8e96;    
    margin-top: 2.5em;
    padding-bottom: 1em;
    font-size: 1.7em;
    text-align: center;
}

.section-subtitle {
    max-width: 768px;
    margin: 1.2em auto 0 auto;
    font-size: 1.3em;
    text-align: left;
}

.project-paragraph {
    max-width: 768px;
    margin: 0 auto 0 auto;
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: left;
}

.separator {
    .text-center {
        margin: 0;
        padding: 7px 0;
    }
    h2 {
        color: @black;
      }
    a {
        text-decoration: none;
    }
}