@import "less/colors";
@import "less/header";
@import "less/navigation";
@import "less/featured";
@import "less/skills";
@import "less/footer";

/* Variables 
------------------------------------*/
@baseFontSize: 16px;

/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Hind', Helvetica, Arial, sans-serif;
}

.page {
  border-top: 2px solid @pointColor;
}

h1 {
  font-size: 2.4em;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin: .4em 0;
  color: @grey;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
}

h4 {
  font-size: 1.1em;
  font-weight: 600;
}

p {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: @black;
  &:hover {
    color: @pointColor;
  }
}

.no-hor-padding { 
  padding-left: 0;
  padding-right: 0;
}

.h-300 {
  height: 300px;
}

.pad-5 {
  padding: 5px;
}

.kate-logo {
  max-width: 70px;
  margin-bottom: 3em;
}

/* Overwrite Bootstrap 4 
------------------------------------*/
.btn-info {
  background-color: @pointColor;
  margin-top: 3em;
  padding: 1em 1.5em;
  border: none;
  border-radius: 3em;
  &:hover {
    background-color: darken(@pointColor, 8%);
  }
}


/* Media Queries
------------------------------------*/
@media (min-width: 1000px) {
  .h-400 {
    height: 400px;
  }
}