/* FooterView 
------------------------------------*/

.footer {
    background-color:@black;
    color: @white;
  }
  
  .footer h2 {
    color: @black;
  }
  .footer-container {
    padding: 6em 0 2em 0;
  }
  
  .group {
    padding-bottom: 4em;
  }
  
  .footer a {
    text-decoration: none;
    color: @white;
    &:hover {
      color: @pointColor;
    }
  }
  
  .copyright {
    display: block;
    color: darken(@white, 20%);
  }