/* FooterView 
------------------------------------*/

.footer {
  background-color:@black;
  color: @white;

  ul{
    li {
      padding : 6px 12px 6px 0;
    }
    a {
      padding: 0;
    }
  }
}

.footer-container {
  padding: 4em 0 3em 0;
}
  
.group {
  padding-bottom: 3em;
}
  
.footer a {
  text-decoration: none;
  color: @white;
    &:hover {
      color: @pointColor;
    }
}
  
.footer-intro {
  margin-bottom: 2em;
}

.copyright {
  display: block;
  color: darken(@white, 20%);
}

